div.button-li {
  @include breakpoint(large) {
    margin-left: 28px;
  }
  ul {
    li {
      height: 38px;
      margin-bottom: 11px;
      border: 1px solid #BABCBD;
      background-color: #efefef;
      font-size: 13px;
      @include background-image(linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%));
      @include box-shadow(1px 1.732px 2px 0px rgba(0, 0, 0, 0.35));
      @include border-radius(3px);
      &:hover {
        @include background-image(linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%));
      }
      @include breakpoint(extra-small) {
        height: 60px;
        margin-bottom: 20px;
        font-size: 20px;
      }
      a {
        p {
          padding-top: 10px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          font-size: 13px;
          text-align: center;
          text-shadow: 0px 1px 0px rgb(255, 255, 255);
          color: #494a4a;
          @include breakpoint(extra-small) {
            font-size: 20px;
            line-height: 39px;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    li:nth-child(4) {
      height: 30px;
      margin: 0;
      border: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      text-align: center;
      a {
        span {
          border: none;
          color: #55a4da;
          &:hover {
            color: #494a4a;
          }

        }
      }
      @include breakpoint(extra-small) {
        margin-bottom: 20px;
      }
    }
    @include breakpoint(extra-small) {
      margin-left: 20px;
    }
  }
}
